# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.pytest_cache/
.coverage
htmlcov/
*.db
*.pkl
comparer.log

# PyInstaller
build/
dist/
*.spec

# OS
.DS_Store
Thumbs.db

# Project Specific
session_state.pkl
comparer.log
hw_profile.json
